Automated Daily Sales Report Workflow .json
{
  "name": "SQL",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior business intelligence analyst preparing a concise executive sales briefing.\n\nData:\nRevenue Today: {{$json[\"today_revenue\"]}}\nRevenue Yesterday: {{$json[\"yesterday_revenue\"]}}\nRevenue Change (%): {{$json[\"revenue_change_percent\"]}}\nTotal Orders Today: {{$json[\"today_orders\"]}}\n\nTop Products:\n{{$json[\"top_3_products\"]}}\n\nReturn your response in CLEAN HTML format only.\n\nStructure it exactly like this:\n\n<h4>Executive Summary</h4>\n<p>...</p>\n\n<h4>Revenue Trend Insight</h4>\n<p>...</p>\n\n<h4>Product Contribution Insight</h4>\n<p>...</p>\n\n<h4>Business Signal</h4>\n<p><b>Risk Level:</b> ...<br>\n<b>Recommendation:</b> ...</p>\n\nDo NOT use markdown symbols (**).\nDo NOT use asterisks.\nKeep it professional and concise.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        48,
        -224
      ],
      "id": "d66e3e70-368a-4a28-b1fa-62034728d281",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openrouter/auto",
          "mode": "list",
          "cachedResultName": "openrouter/auto"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        48,
        0
      ],
      "id": "ea17a6b3-d233-444a-b423-19a9c5283e23",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DepMgEWl47e0V7mf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ashishamithr@gmail.com",
        "subject": "Daily Sales Report",
        "message": "=<h2>📊 Daily Sales Report</h2>\n\n<p><b>Revenue:</b> ${{ $node[\"KPI\"].json[\"revenue\"] }}</p>\n\n<p><b>Change vs Previous Day:</b> \n<span style=\"color: {{ $node[\"KPI\"].json[\"revenue_change_percent\"] > 0 ? 'green' : 'red' }};\">\n{{ $node[\"KPI\"].json[\"revenue_change_percent\"] }}%\n</span>\n</p>\n\n<p><b>Total Orders:</b> {{ $node[\"KPI\"].json[\"orders\"] }}</p>\n\n<hr>\n\n<h3>Top Performing Products</h3>\n<pre>{{ $node[\"KPI\"].json[\"top_3_products\"] }}</pre>\n\n<hr>\n\n<h3>Executive Insight</h3>\n<p>{{ $node[\"Basic LLM Chain\"].json[\"text\"] }}</p>\n\n<hr>\n\n<p><i>Automated Executive Intelligence System</i></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        368,
        -224
      ],
      "id": "ff105adf-dd5a-41dd-b6f7-022e0284bbce",
      "name": "Send a message",
      "webhookId": "4f38abe1-22dc-4758-b606-fdc0a4904319",
      "credentials": {
        "gmailOAuth2": {
          "id": "B0IIu7sObTybTkYa",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    d.order_date AS report_date,\n\n    d.revenue,\n    d.orders,\n\n    p.revenue AS previous_day_revenue,\n\n    CASE \n        WHEN p.revenue IS NULL OR p.revenue = 0 THEN 0\n        ELSE ROUND(\n            (d.revenue - p.revenue) / p.revenue * 100,\n        2)\n    END AS revenue_change_percent,\n\n    (\n        SELECT GROUP_CONCAT(\n            CONCAT(product_name, ' - $', total_revenue)\n            ORDER BY total_revenue DESC\n            SEPARATOR '\\n'\n        )\n        FROM (\n            SELECT \n                product_name,\n                SUM(quantity * unit_price) AS total_revenue\n            FROM sales s2\n            WHERE s2.order_date = d.order_date\n            GROUP BY product_name\n            ORDER BY total_revenue DESC\n            LIMIT 3\n        ) tp\n    ) AS top_3_products\n\nFROM\n(\n    SELECT \n        order_date,\n        SUM(quantity * unit_price) AS revenue,\n        COUNT(*) AS orders\n    FROM sales\n    GROUP BY order_date\n) d\n\nLEFT JOIN\n(\n    SELECT \n        order_date,\n        SUM(quantity * unit_price) AS revenue\n    FROM sales\n    GROUP BY order_date\n) p\nON p.order_date = DATE_SUB(d.order_date, INTERVAL 1 DAY)\n\nORDER BY d.order_date DESC\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -208,
        -224
      ],
      "id": "8690f91f-e0f7-4b9f-8b09-45178dd04c02",
      "name": "KPI",
      "credentials": {
        "mySql": {
          "id": "TZRBFetzL3LVpsfd",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1f3PjJTWav3xmN2vevmgx7wQznfkuWjNeViKHdO5mDQE/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "report_date": "={{$json[\"report_date\"]}}",
            "revenue_change_percent": "={{$json[\"revenue_change_percent\"]}}",
            "top_3_products": "={{$json[\"top_3_products\"]}}",
            "revenue": "={{$json[\"revenue\"]}}",
            "orders": "={{$json[\"orders\"]}}",
            "previous_day_revenue": "={{$json[\"previous_day_revenue\"]}}"
          },
          "matchingColumns": [
            "report_date"
          ],
          "schema": [
            {
              "id": "report_date",
              "displayName": "report_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "revenue",
              "displayName": "revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "orders",
              "displayName": "orders",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "previous_day_revenue",
              "displayName": "previous_day_revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "revenue_change_percent",
              "displayName": "revenue_change_percent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "top_3_products",
              "displayName": "top_3_products",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        -416
      ],
      "id": "bb90c823-461a-4376-bd28-264b106e3b08",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rGCn6Zxq52CzNLT0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    d.order_date AS report_date,\n    d.revenue,\n    d.orders,\n    p.revenue AS previous_day_revenue,\n\n    CASE \n        WHEN p.revenue IS NULL OR p.revenue = 0 THEN 0\n        ELSE ROUND((d.revenue - p.revenue) / p.revenue * 100, 2)\n    END AS revenue_change_percent,\n\n    (\n        SELECT GROUP_CONCAT(\n            CONCAT(product_name, ' - $', total_revenue)\n            ORDER BY total_revenue DESC\n            SEPARATOR '\\n'\n        )\n        FROM (\n            SELECT \n                product_name,\n                SUM(quantity * unit_price) AS total_revenue\n            FROM sales\n            WHERE order_date = d.order_date\n            GROUP BY product_name\n            ORDER BY total_revenue DESC\n            LIMIT 3\n        ) tp\n    ) AS top_3_products,\n\n    (SELECT MAX(order_id) FROM sales) AS latest_order_id\n\nFROM\n(\n    SELECT \n        order_date,\n        SUM(quantity * unit_price) AS revenue,\n        COUNT(*) AS orders\n    FROM sales\n    GROUP BY order_date\n    ORDER BY order_date DESC\n    LIMIT 1\n) d\n\nLEFT JOIN\n(\n    SELECT \n        order_date,\n        SUM(quantity * unit_price) AS revenue\n    FROM sales\n    GROUP BY order_date\n) p\nON p.order_date = DATE_SUB(d.order_date, INTERVAL 1 DAY)\n\nWHERE (SELECT MAX(order_id) FROM sales) >\n      (SELECT last_processed_order_id FROM sheet_tracking WHERE id = 1);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -96,
        -416
      ],
      "id": "f0f842b6-3ac9-4ba2-9511-ddd41f872968",
      "name": "KPI1",
      "credentials": {
        "mySql": {
          "id": "TZRBFetzL3LVpsfd",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        -416
      ],
      "id": "526b5129-d854-4ae8-aaa9-7221ef6ea785",
      "name": "every min"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        -224
      ],
      "id": "74900727-7b54-437f-aba7-e01ccd71026b",
      "name": "Morn 7AM"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KPI": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "KPI1": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "every min": {
      "main": [
        [
          {
            "node": "KPI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Morn 7AM": {
      "main": [
        [
          {
            "node": "KPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b0d46188-7283-4b86-85f4-dcda65df24ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d8a67673b5540a1e6ac5ebb1a1d5639d2a55147717f2180195eef72a451ed296"
  },
  "id": "89EQTPLbVbBNS_4VUVM2m",
  "tags": []
}
